fint:
  application-id: fint-flyt-file-service

novari:
  flyt:
    web-resource-server:
      security:
        api:
          internal-client:
            authorized-client-ids: ${fint.sso.client-id}

server:
  error:
    include-message: always
  tomcat:
    max-swallow-size: 500MB
    max-http-form-post-size: 500MB

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-web-resource-server
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

  output:
    ansi:
      enabled: always
