fint:
  org-id: fintlabs.no
  kafka:
    default-replicas: 1

novari:
  flyt:
    file-service:
      time-to-keep-azure-blobs-in-days: 180

spring:
  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8091
