fint:
  application-id: fint-flyt-file-service

novari:
  flyt:
    resource-server:
      security:
        api:
          internal-client:
            authorized-client-ids: ${fint.sso.client-id}

server:
  error:
    include-message: always

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-resource-server
  http:
    codecs:
      max-in-memory-size: 500MB

  output:
    ansi:
      enabled: always
